.theme-button {
  margin: 0 0.25em;
  padding: 0.5em 1em;

  font-size: 1.25em;
  border-radius: 3px;
  background-color: #efefef;
  border: 1px solid #c5c5c5;
  cursor: pointer;
}

.app__theme-dark.theme-button {
  border: 1px solid #c5c5c5;
  background-color: #272727;
  color: #c5c5c5;
}
