.rocket-container {
  width: 120px;
  height: 400px;
  margin: 25px 70px 50px;
}

.rocket {
  position: relative;
  display: flex;
  width: 70px;
  height: 350px;
}

.height {
  position: absolute;
  height: 350px;
  border: 1px solid #638ede;
  border-left: none;
  display: flex;
  width: 100px;
}

.height-label {
  top: calc(350px / 2);
  right: -45px;
  position: relative;
  background-color: #fff;
  height: 1.6em;
}

.diameter {
  position: absolute;
  width: 28px;
  border: 1px solid #638ede;
  border-top: none;
  height: 320px;
  bottom: -25px;
}

.diameter-label {
  right: 50px;
  position: relative;
  background-color: #fff;
  height: 1.6em;
  bottom: -325px;
}
