.page-header {
  padding: 0 20px;
}

.rocket-fields-container {
  display: flex;
  justify-content: space-around;
}

.rocket-fields {
  padding-top: 1em;

  display: flex;
  flex-direction: column;
}
