.footer {
  z-index: 0;
  padding: 1.5em;
  position: fixed;
  bottom: 0;

  width: 1024px;

  background-color: #efefef;
  color: #909090;
}

.dark {
  .footer {
    background-color: #424242;
  }
}
