.table {
  width: 100%;

  border-spacing: 0;

  &__head {
    font-size: 1.5em;
    background-color: #eaeaea;

    &-cell {
      padding: 0.25em;
    }
  }

  &__row {
    background-color: #fbfbfb;

    &:hover {
      background-color: #e8e8e8;
    }

    &-cell {
      padding: 0.5em;

      border-bottom: 1px solid #cecece;
    }
  }
}

.app__theme-dark {
  .table {
    &__head {
      background-color: #5d5d5d;
      color: #d8d8d8;
    }

    &__row {
      background-color: #424242;

      &:hover {
        background-color: #848484;
      }
    }
  }
}
