.table {
  width: 100%;
  border-spacing: 0;
}

.table-head {
  font-size: 1.5em;
  background-color: #eaeaea;
}

.table-head td {
  padding: 0.25em;
}

.table-row {
  background-color: #fbfbfb;
}

.table-row:hover {
  background-color: #e8e8e8;
}

.table-row td {
  border-bottom: 1px solid #cecece;
  padding: 0.5em;
}
