.nav {
  display: flex;
  margin: 0;
  padding: 0;

  list-style-type: none;
}
.nav-link {
  margin: 0.5rem 1rem;
  padding: 0.5rem;

  font-size: 1.25rem;
}

.active-link {
  color: #e15b64;

  &:hover {
    color: #c10000;
  }
}

.dark {
  .nav-link a {
    color: #0095ff;

    &:hover {
      color: #5d9cd2;
    }
  }

  a.active-link {
    color: #b4c8ff;

    &:hover {
      color: #5d9cd2;
    }
  }
}
