.nav {
  display: flex;
  margin: 0;

  list-style-type: none;
}
.nav-link {
  margin: 0.5rem 1rem;
  padding: 0.5rem;

  font-size: 1.25rem;
}

.active-link {
  color: #e15b64;

  &:hover {
    color: #c10000;
  }
}
